<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="manish.globalweather" value="http://www.webservicex.net/globalweather.asmx"/>
    <add key="curency.CurrencyConvertor" value="http://www.webservicex.net/CurrencyConvertor.asmx"/>
  <add key="sunset.sunsetriseservice" value="http://www.webservicex.net/sunsetriseservice.asmx"/>
  </appSettings>
</configuration>